[data-theme='light'] {
    --primary-bg-color: #ffffff;       
    --secondary-bg-color: #f7f7f7;     
    --primary-text-color: #333;        
    --secondary-text-color: #555;     
    --link-color: #007BFF;            
    --hover-color: #0056b3;           
    --container-bg: #f7f7f7;         
}

[data-theme='dark'] {
    --primary-bg-color: #1a1a1a;       
    --secondary-bg-color: #2e2e2e;    
    --primary-text-color: #f7f9fc;    
    --secondary-text-color: #c2c2c2;   
    --link-color: #00BFFF;            
    --hover-color: #0091ca;            
    --container-bg: #2e2e2e;          
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--hover-color);
}

button {
    border: none;
    cursor: pointer;
    background-color: var(--link-color);
    color: var(--primary-text-color);
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--hover-color);
}

button i.fa {
    font-size: 20px;
    color: var(--primary-text-color); 
    margin-right: 5px;
}


.App {
    background-color: var(--primary-bg-color);
    width: 100%;
    height: 100vh;
    background-size: cover;
    font-family: Arial, sans-serif;
}

/*------------ Nav bar -------*/

.container {
    background-color: var(--container-bg);
    width: 100%;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.theme-toggle {
    border: none;
    background: none;
    margin-top: 10px;
    align-self: flex-end;
    margin-left: 10px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.link {
    color: var(--link-color);
    margin-left: 1rem;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

.link:hover {
    color: var(--hover-color);
    
}

.link.home {
    font-weight: bold;
    font-size: 1.5rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.25rem;
    cursor: pointer;
}

.hamburger div {
    width: 2rem;
    height: 0.25rem;
    background-color: #e40d18;
}

.link.user-info {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
}

.link.logout {
    background-color: #c098a4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.link.logout:hover {
    background-color: #a57383;
}

@media screen and (max-width: 768px) {

    .theme-toggle {
        display: block;
        margin: 0.5rem 1rem;
        background-color: var(--primary-bg-color);
        border: none;
    }

    .theme-toggle i.fa {
        color: var(--primary-text-color);
    }

    .hamburger {
        display: flex;
        margin-right: 30px;
    }

    ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; 
        right: 1rem;
        background-color: var(--secondary-bg-color);
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    nav ul.active {
        display: flex !important;
    }

    .link {
        display: block;
        margin: 0.5rem 1rem;
    }
}



/*-------BookList--------*/

.ListHeader {
    text-align: center;
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid var(--secondary-bg-color);
}

.ListHeader div {
    padding: 40px;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

.ListHeader div h2 {
    font-size: 48px;
    color: var(--primary-text-color); 
}

.ListHeader div p {
    font-size: 24px;
    color: var(--secondary-text-color); 
}

.ListHeader div h2 span,
.ListHeader div p span {
    color: var(--link-color); 
}

.headerList {
    margin: 2% 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    background-color: var(--secondary-bg-color); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05); 
}

.headerList .containerList {
    background: var(--container-bg); 
    padding: 20px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.headerList .containerList h2 span {
    color: var(--link-color);
    font-size: 22px;
}

.headerList .containerList h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    color: var(--primary-text-color);
}

.headerList .containerList h2 > Link,
.headerList .containerList h2 a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.headerList .containerList p span {
    color: var(--secondary-text-color);
    font-size: 14px;
}

.headerList .containerList:hover {
    background: var(--hover-color); 
    transform: translateY(-5px); 
}

.headerList .containerList img {
    max-width: 90%;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Mobile Responsiveness */

@media only screen and (max-width: 768px) {
    .ListHeader div {
        padding: 20px;
    }

    .ListHeader div h2 {
        font-size: 28px;
        color: var(--primary-text-color);
    }

    .ListHeader div p {
        font-size: 18px;
        color: var(--secondary-text-color);
    }

    .headerList {
        margin: 2% 5%;
    }

    .headerList .containerList {
        padding: 15px;
    }
}

 

/*-------About--------*/

.about-container {
    max-width: 800px;
    margin: 50px auto; 
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-bg-color); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.about-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--primary-text-color); 
}

.about-container p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--secondary-text-color); 
    margin-bottom: 20px;
}

.about-container .developed {
    font-style: italic;
    color: var(--tertiary-text-color);
}

/* Mobile Styles */

@media only screen and (max-width: 768px) {
    .about-container {
        margin: 20px 10px;
        padding: 15px; 
    }

    .about-container h2 {
        font-size: 24px;
        color: var(--primary-text-color);
    }

    .about-container p {
        font-size: 16px; 
        color: var(--secondary-text-color);
    }
}



/*------Login------*/

.headerLogin {
    padding: 5% 30%;
    background-color: var(--secondary-bg-color); 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.headerLogin h2 {
    font-size: 30px;
    color: var(--primary-text-color);
    margin-bottom: 20px; 
}

.headerLogin p {
    font-size: 18px;
    color: #e53e3e;
    margin: 10px 0;
}

.headerLogin form input {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    color: var(--primary-text-color);
    background-color: var(--input-bg-color);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.headerLogin form button {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-button-text);
    background-color: var(--primary-button-bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.headerLogin form button:hover {
    background-color: var(--primary-button-hover-bg);
}

/* Mobile Responsiveness */

@media only screen and (max-width: 768px) {
    .headerLogin {
        padding: 5% 10%;
    }

    .headerLogin form input,
    .headerLogin h2 {
        font-size: 16px;
    }
}


/*------Register--------*/
.headerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.headerLogin h2 {
    margin-bottom: 20px;
}

.headerLogin form {
    width: 100%;
}

.headerLogin form div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.headerLogin form label {
    margin-bottom: 10px;
}

.headerLogin form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.headerLogin form small {
    margin-top: 5px;
    color: grey;
}

.headerLogin form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.headerLogin form button:hover {
    background-color: #0056b3;
}

.headerLogin p {
    color: red;
    margin-top: 10px;
}

/* Responsive Styling */
@media only screen and (max-width: 600px) {
    .headerLogin {
        width: 90%;
    }
}

/*-------UserProfile--------*/

.userProfile {
    max-width: 800px; 
    margin: 40px auto; 
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-bg-color); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.userProfile h2, .userProfile h3, .userProfile h4 {
    border-bottom: 1px solid var(--border-color); 
    color: var(--primary-text-color);
}

.userProfile h2 {
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.userProfile p {
    font-size: 18px;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.userProfile h3 {
    font-size: 24px;
    margin-top: 30px;
}

.userProfile div {
    padding: 10px 0; 
    border-bottom: 1px dashed var(--border-color); 
    margin-bottom: 20px;
}

.userProfile div h4 {
    font-size: 20px;
}

.userProfile div p {
    font-size: 18px;
}

.userProfile a {
    display: inline-block; 
    padding: 10px 20px;
    background-color: var(--primary-button-bg);
    color: var(--primary-button-text);
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s; 
}

.userProfile a:hover {
    background-color: var(--primary-button-hover-bg); 
}

/* Mobile Responsiveness */

@media only screen and (max-width: 768px) {
    .userProfile {
        margin: 20px 10px; 
        padding: 15px;
    }

    .userProfile h2 {
        font-size: 24px;
    }

    .userProfile p {
        font-size: 16px;
    }

    .userProfile h3 {
        font-size: 20px;
    }

    .userProfile div h4 {
        font-size: 18px;
    }

    .userProfile div p {
        font-size: 16px;
    }
}


/*-------BookEdit--------*/

.bookedit {
    max-width: 600px; 
    margin: 40px auto; 
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-bg-color); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.bookedit h2 {
    font-size: 28px;
    color: var(--primary-text-color);
    margin-bottom: 30px; 
}

.bookedit form > div {
    margin-bottom: 20px;
}

.bookedit label {
    display: block; 
    font-size: 16px;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.bookedit input[type="text"],
.bookedit textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--input-bg-color);
}

.bookedit textarea {
    resize: vertical; 
    min-height: 100px; 
}

.bookedit img {
    max-width: 100px;
    display: block;
    margin: 10px 0;
    border-radius: 5px;
}

.bookedit button {
    background-color: var(--primary-button-bg);
    color: var(--primary-button-text);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bookedit button:hover {
    background-color: var(--primary-button-hover-bg);
}

/* Mobile Responsiveness */

@media only screen and (max-width: 768px) {
    .bookedit {
        margin: 20px 10px;
        padding: 15px;
    }

    .bookedit h2 {
        font-size: 24px;
    }
}


/* BookDetail Component Styling */

.bookdetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-bg-color); 
}

.bookCover {
    max-width: 200px;   
    height: auto;      
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);  
    margin-bottom: 20px;
}

.bookdetails h2 {
    font-size: 24px;
    margin: 10px 0;
    color: var(--primary-text-color);
}

.bookdetails p {
    font-size: 18px;
    color: var(--secondary-text-color);
    margin: 5px 0;
}

/* Mobile Responsiveness */

@media only screen and (max-width: 768px) {
    .bookdetails {
        margin: 20px 10px; 
        padding: 15px;
    }

    .bookdetails h2 {
        font-size: 24px;
    }

    .bookdetails p {
        font-size: 16px;
    }
}

/*-------ReviewForm--------*/

.reviewForm {
    margin: 20px 0;
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.reviewForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviewForm textarea {
    resize: vertical;
    padding: 10px;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--input-bg-color);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reviewForm .starRating {
    display: flex;
    gap: 5px;
}

.reviewForm .star {
    cursor: pointer;
    color: #ccc;
    font-size: 24px;
    transition: color 0.3s;
}

.reviewForm .star.filled {
    color: #e53e3e;
}

.reviewForm button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--primary-button-bg);
    color: var(--primary-button-text);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.reviewForm button:hover {
    background-color: var(--primary-button-hover-bg);
}

.reviewForm p {
    font-size: 16px;
    color: #e53e3e; 
    margin-top: 20px;
}

/* Mobile Responsiveness */

@media only screen and (max-width: 768px) {
    .reviewForm {
        padding: 15px;
    }

    .reviewForm textarea,
    .reviewForm .star {
        font-size: 14px;
    }
}


/*-------ReviewItem--------*/

.reviewitems {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.reviewitems p {
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.reviewitems button {
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: var(--primary-button-bg);
    color: var(--primary-button-text);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.reviewitems button:last-child {
    margin-right: 0;
}

.reviewitems button:hover {
    background-color: var(--primary-button-hover-bg);
}

.starRating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star {
    cursor: pointer;
    font-size: 20px;
    color: #d4d4d4; 
}

.star.filled {
    color: #e53e3e;  
}

/* Mobile Responsiveness */

@media only screen and (max-width: 768px) {
    .reviewitems {
        padding: 15px;
    }

    .reviewitems p,
    .reviewitems button {
        font-size: 14px;
    }
}

/*-------BookCreation--------*/

.bookCreation {
    max-width: 600px; 
    margin: 40px auto; 
    border-radius: 10px;
    background-color: var(--secondary-bg-color); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.bookCreation form > div {
    margin-bottom: 20px; 
}

.bookCreation label {
    display: block; 
    font-size: 16px;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
}

.bookCreation input[type="text"],
.bookCreation textarea,
.bookCreation input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.bookCreation textarea {
    resize: vertical; 
    min-height: 120px; 
}

.bookCreation button {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.bookCreation button:hover {
    background-color: var(--hover-bg-color);
}

.bookCreation p {
    font-size: 18px;
    color: var(--success-color); 
    margin-top: 20px;
    font-weight: bold;
}

/* Mobile Responsiveness */

@media only screen and (max-width: 768px) {
    .bookCreation {
        margin: 20px 10px;
        padding: 15px;
    }

    .bookCreation label,
    .bookCreation input[type="text"],
    .bookCreation textarea {
        font-size: 14px;
    }
}
